<%- layout('layouts/layout.ejs')%>
<div class="w-75 mx-auto mt-3" style="min-height: 100%">
    <div class="row hidden-md-up my-3">
      <%- include('partials/filters.ejs')%>
    </div>
    <div class="row hidden-md-up my-3">
      <% if (autos.length) { %>
        <% autos.forEach(auto=> { %>
          <div class="col-md-4">
            <a style="text-decoration: none; color: black;" href="/<%= auto._id %>">
              <div class="card" style="margin-bottom: 1em; min-height: 16em;">
                <div class="card-block">
                  <div class="group">
                    <img class="card-img-top image" style="object-fit: cover; height: 8em;"
                      src="<%= auto.pictureURL %>" />
                  </div>
                  <h4 class="card-title mx-3 mt-3">
                    <%= auto.model %>
                  </h4>
                  <p class="card-text mx-3 mb-3">
                    <%= auto.manufacturer %>
                      <small style="font-size: small;" class="mx-2">
                        <%= auto.releaseYear %>
                      </small>
                  </p>
                  <p class="price card-text mx-3 text-end">
                    <%= auto.price.toLocaleString()%></p>
                </div>
              </div>
            </a>
          </div>
          <%})%>
        <%}%>
    </div>
    <% if (login) { %>
      <%- include('partials/add-form.ejs') -%>
    <% } %>
  </div>